:root {
  --secondary-color: #e21b3c;
}

.input-field {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.input-field:focus {
  box-shadow: none;
}
.input-field:hover {
  box-shadow: none;
}

.card{
  position: static;
}

.list-item:hover {
  background: transparent;
}

.score-header {
  width: 100%;
  justify-content: space-around;
}

.login-card {
  max-width: none;
}

.login-field {
  flex-grow: 1;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: none;
  pointer-events: none;
  top: calc(100% + 0.25rem);
  left: 0;
}

.dropdown > .dropdown-text:hover + .dropdown-menu {
  display: inline-block;
}

.quiz-option {
  list-style: none;
  border-radius: var(--radius-md);
  border: 1px solid var(--dark-lighter);
  padding: var(--space-xs);
  width: 100%;
  max-width: 80%;
  text-align: center;
  cursor: pointer;
  transform: box-shadow 250ms var(--ease-in);
}
.quiz-option:hover {
  box-shadow: var(--box-shadow-sm);
}
.correct-btn{
  background-color: transparent;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--dark-lighter);
  margin: 0 var(--space-xxs);
}
.correct-btn:hover{
  color: var(--success-color);
  font-weight: 700;
}
.correct-btn.active {
  color: var(--success-color);
  font-weight: 700;
}


.result-container {
  width: 100%;
  align-items: center;
}
.result-container .quiz-option:hover {
  box-shadow: none;
  cursor: default;
}

.quiz-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--light-color);
  padding: var(--space-sm);
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--radius-lg);
}

.avatar-sm {
  width: var(--space-md);
  height: var(--space-md);
}

.user-container {
  box-shadow: 1px 2px 5px black;
  flex-basis: 45%;
}

.account-container {
  box-shadow: 1px 2px 5px black;
  flex-basis: 45%;
}

.leaderboard-container {
  width: 100%;
}
.leaderboard-header {
  display: flex;
  font-weight: 500;
  border-bottom: 1px solid var(--dark-lighter);
  border-top: 1px solid var(--dark-lighter);
  padding: var(--space-sm) 0;
}
.leaderboard-header * {
  flex: 1 1 20%;
}

.leaderboard-item {
  display: flex;
  border-bottom: 1px solid var(--dark-lighter);
  padding: var(--space-xs) 0;
}
.leaderboard-item * {
  flex: 1 1 20%;
}
